
<html>
<head>
  <style>
    .home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 5%;
    border: 2px solid green;
    border-radius: 20px;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .link {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    font-size: 2rem;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  </style>
</head>

<body style="background-color: black;">

  <div class="home-container" style="background-color: white;">
    <h1><%= products.urlOrMsg %></h1>
  </div>
</body>

</html>